# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Daniel
	email = daniel@luminouscomputing.com

[merge]
  conflictstyle = diff3

[alias]
  st = status
  co = checkout
  ci = commit
  history = "log -p"
  unstage = reset --soft HEAD^
  pullp = pull --prune
  delete-local-branches = "!git branch -vv | grep ' gone]' | awk '{print $1}' | xargs git branch -d"
